.item {
    .item-inner{
        position: relative;
        img{
            display: block;
        }
    }
    .item-inner:hover .add-more{
        opacity: 1;
    }
    a{
        display: block;
    }
    .add-img {
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    .add-more{
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(244, 30, 30, 0.6);
        img{
            max-height: 48px;
        }
    }
    p{
        color: #fff;
        font-size: 15px;
        margin: 0;
    }
    .name {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 21%;
    }
}
