
mixin item(urlimg,nameroom)
  .item.item-wrap
    .item-inner
      a(href="#")
        img(src=urlimg, alt="anh")
        .add-more
          .add-img
            img(src="images/h_add.png", alt="add")
          .name
            p=nameroom
  //.item-wrap
