/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'OpenSans';
  font-weight: 400;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;  
}
.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

.container {
  margin: 0px auto;
  max-width: 1170px;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
.title-section{
  font-size: 36px;
  font-weight: 800;
}
.col-3{
  width: 25%;
  float: left;
}
.col-4{
  width: 33.3333333%;
  float: left;
}
.col-6{
  width: 50%;
  float: left;
}
.col-8{
  width: 66.6666667%;
  float: left;
}
.col-9{
  width: 75%;
  float: left;
}
.registration{
  background: #da1b1b;
  font-size: 18px;
  color: #fff;
  line-height: 70px;
  font-weight: 800;
  width:300px ;
  text-align: center;
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.row {
  margin: 0 -15px;
  overflow: hidden;
}