#footer{
    font-size: 15px;
    font-family: 'Poppins';
    span{
        color: #9a9a9a;
    }
    a{
        color: #fff;
    }
    background-color: #222222;
    padding: 25px;
    text-align: center;
}
#header{
    box-shadow: 0 5px 20px #eee;
    padding:30px 0;
    top: 0;
    height: 120px;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    .header-left{
        padding: 10px 0 20px 0;
    }
    .registration-header{
        width: 200px;
        font-size: 13px;
        font-weight: 800;
        color:#fff;
        background-color: #da1b1b;
        line-height: 55px;
        text-align: center;
        text-transform: uppercase;
        a{
            display: block;
        }
    }
    .logo{
        img,a{
            display: block;
        }
    }
    .menu-wrap{
        margin: 5px 50px 0 50px;
        .toggle-menu{
            display: none;
        }
        font-size: 14px;
    }
    .menu{
        li{
            padding: 3px 17px;
            a{
                color: #666666;
                &:hover{
                    color: #000;
                }
            }
        }
    }
    .header-right{
        margin: 3px 0 2px 0;
    }
    .hotline{
        margin-right:55px;
        li{
            span{
                font-size: 13px;
                color: #999999;
            }
        }
    }
    .number-phone{
        font-size: 18px;
        font-weight: 800;
    }
}
#content{
    margin-top: 120px;
}
#introduce{
    transition: all 0.5s;
    .introduce-top{
        padding: 60px 0 100px 0;
        color: #666666;
    }
    strong,em{
        font-size: 20px;
        font-weight: 800;
        font-style: normal;
    }
    .title-section{
        color: #000;
        margin: 10px 0 30px 0;
    }
    h1{
        margin: 0;
    }
    .text{
        font-size: 14px;
        padding: 20px 0 30px 0;
        p{
            line-height: 25px;
            margin: 13px 0;
        }
    }
    .col{
        padding: 0 50px;
        float: left;
    }
    .col-picture{
        width: 56%;
    }
    .col-info-introduce{
        width: 44%;
    }
    .row-introduce{
        margin: 0 -50px;
    }
    .info-introduce{
        padding: 30px 0;
    }
    .background-slide{
        img{
            display: block;
            float: right;
        }
    }
    .slide{
        position: absolute;
        width: 300px;
        bottom: 0;
        left: 0;
        .owl-dots,.owl-nav{
            display: none;
        }
        .item{
            padding: 5px;
            background-color: #fff;
        }
    }
    .picture{
        position: relative;
    }
    .custom-nav{
        width: 47%;
        padding: 10px 40px;
        .btn{
            cursor: pointer;
        }
    }
    .introduce-bottom{
        background-color: #3f85ce;
        padding: 54px 0 52px 0;
        text-align: center;
        color: #fff;
    }
    .col-20{
        width: 20%;
        float: left;
    }
    .img{
        img{
            max-width: 51px;
        }
    }
    .more-info__inner{
        margin-top: 30px;
    }
    .number{
        line-height: 19px;
        font-family: 'Poppins';
        font-size: 25px;
        margin: 0;
    }
    .name{
        margin: 15px 0 0 0;
        font-size: 14px;
        line-height: 14px;
    }
    .more-info-apartment{
        position: relative;
    }
    .border{
        position: absolute;
        right: 0;
        height: 100px;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.3);
    }
}
#trangchu{
    .info-apartment{
        position: relative;
    }
    .info-apartment__inner{
        position: absolute;
        width:475px ;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        right: 0;
        bottom: 0;
        padding: 70px 0 80px 0;
    }
    .registration{
        margin: 0 auto;
        a{
            display: block;
        }
    }
    .name{
        p{
            font-size: 20px;
            color: #666666;
            margin: 0;
            line-height: 22px;
        }
    }
    .name-apartment{
        font-size: 60px;
        font-weight: 700;
        line-height: 50px;
        margin: 20px 0 15px 0;
    }
    .address{
        font-size: 14px;
        color: #777777;
        p{
            margin: 30px 0;
            line-height: 14px;
        }
    }
    .space{
        margin: 20px 0 10px 0;
        li{
            width: 33.333333%;
        }
        .number{
            color: #da1a1a;
            font-size: 25px;
            font-weight: 800;
            line-height: 21px;
            margin: 0 0 20px 0;
        }
        .unit{
            font-size: 14px;
            color: #777777;
            margin: 0;
            line-height: 14px;
        }
    }
    .col-4{
        position: relative;
    }
    .line{
        height: 40px;
        width: 1px;
        background-color: #dddddd;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .price{
        margin: 35px 0 50px 0;
        font-size: 30px;
        font-weight: 800;
        line-height: 24px;
    }
}
@media screen and (max-width: 1280px)
{
    #trangchu {
        .info-apartment__inner{
            width: 430px;
        }
    }
    #introduce {
        .row-introduce{
            margin: 0 -15px;
        }
        .col-picture,.col-info-introduce{
            padding: 0 15px;
        }
        .custom-nav{
            width: 55%;
        }
    }
}
@media screen and (max-width: 1220px){
    .container{
        max-width: 100%;
        padding: 0 15px;
    }
    #introduce{
        .title-section{
            font-size: 30px;
            margin: 10px 0;
        }
    }
    .registration{
        width: 250px;
    }
}
@media screen and (max-width: 1150px){
    #header{
        .registration-header{
            width: 160px;
            font-size: 12px;
            line-height: 50px;
        }
        .hotline{
            margin-right: 40px;
        }
        .menu-wrap{
            margin: 5px 35px 0 35px;
        }
    }
}
@media screen and (max-width: 1140px){
    #trangchu {
        .info-apartment__inner{
            width: 400px;
            padding: 40px 0;
        }
    }
    #introduce{
        .background-slide{
            img{
                max-width: 70%;
            }
        }
        .info-introduce{
            padding: 0;
        }
        .text{
            padding: 10px 0;
        }
    }
    .registration{
        width: 230px;
        line-height: 60px;
        font-size: 16px;
    }
}
@media screen and (max-width:1024px){
    #header{
        height: auto;
        padding: 10px 0;
        .header-left{
            width: 100%;
            padding: 10px 0;
        }
        .menu-wrap{
            margin: 5px 0 0 0;
            float: right;
            margin: 5px 0 0 0;
        }
        .menu{
            .border-none{
                padding-right:0;
            }
        }
    }
    #content{
        margin-top: 125px;
    }
}
@media screen and (max-width: 960px){
    #trangchu {
        .name-apartment{
            font-size: 40px;
            line-height: 35px;
        }
        .registration{
            line-height: 55px;
            font-size: 15px;
            width: 230px;
        }
        .price{
            font-size: 25px;
            margin: 20px 0;
        }
        .info-apartment__inner{
            width: 380px;
            padding: 20px 0;
        }
    }
    #introduce {
        .custom-nav{
            width: 50%;
        }
    }
}

@media screen and (max-width: 940px){
    #introduce{
        .title-section{
            font-size: 28px;
            line-height: 35px;
        }
        strong,em{
            font-size: 17px;
        }
        .row-introduce{
            margin: 0 -10px;
        }
        .col-picture,.col-info-introduce{
            padding: 0 10px;
        }
        .slide{
            .item{
                max-width: 80%;
            }
        }
        .custom-nav{
            width: 50%;
        }
        .introduce-top{
            padding: 70px 0;
        }
    }
    .registration{
        width: 200px;
        font-size: 14px;
        line-height: 55px;
    }
    #header{
        .registration-header{
            width: 180px;
            line-height: 48px;
        }
    }
}
@media screen and (max-width: 880px){
    #introduce{
        .title-section{
            margin: 5px 0;
        }
        .text{
            p{
                line-height: 22px;
                margin: 5px 0;
            }
        }
        .custom-nav{
            width: 47%;
        }
    }
}
@media screen and (max-width: 768px){
    #trangchu {
        .info-apartment__inner{
            position: inherit;
            margin: 0 auto;
        }
        .info-apartment__inner{
            padding: 15px 0;
        }
    }
    #introduce{
        .introduce-top{
            padding: 30px 0;
        }
        .col-picture, .col-info-introduce{
            width: 100%;
        }
        .row-introduce{
            margin: 0;
        }
        .title-section{
            margin: 10px 0;
        }
        .slide{
            .item{
                max-width: 100%;
            }
        }
        .col-picture,.col-info-introduce{
            padding: 30px 0;
        }
        .text{
            p{
                line-height: 25px;
            }
        }
        .custom-nav{
            width: 89%;
            padding: 10px 70px;
        }
    }
}
@media screen and (max-width:740px)
{
    #introduce{
        .custom-nav{
            width: 72%;
        }
    }
}
@media screen and (max-width:680px)
{
    #introduce{
        .custom-nav{
            width: 70%;
        }
    }
}
@media screen and (max-width:640px){
    #introduce {
        .col-20{
            width: 33.333333%;
        }
        .more-info-apartment{
            padding: 15px 0;
        }
        .border-none3{
            display: none;
        }
        .col-picture,.col-info-introduce{
            padding: 20px 0px;
        }
        .slide{
            .item{
                width: 90%;
            }
        }
        .custom-nav{
            width: 58%;
            padding: 10px 40px;
        }
    }
    #content{
        margin-top: 112px;
    }
    #header{
        .logo{
            img{
                max-width: 90%;
            }
        }
        .number-phone{
            font-size: 15px;
            font-weight: 700;
        }
        .hotline{
            margin-right: 30px;
            ul{
                line-height: 15px;
            }
        }
        .registration-header{
            width: 160px;
            line-height: 40px;
            font-size: 13px;
            font-weight: 600;
        }
        .header-left{
            position: relative;
            padding: 10px 0;
        }
        .menu-wrap {
            float: right;
            margin: 0;
            .toggle-menu{
                z-index: 9999;
                display: block;
                cursor: pointer;
                }
                .button {
                    transition: .5s cubic-bezier(.75,.02,.33,1);
                }
                #burger {
                    width: 30px;
                }
            }
            .menu {
                position: absolute;
                width: 250px;
                display: none;
                transition: .5s cubic-bezier(.75,.02,.33,1); 
                background-color: #000;
                height: auto;
                right: -265px;
                top: -15px;
            ul {	
                padding:20px 10px;
            }
            li {
                display: block;
                text-align: left;
                padding: 10px;
                transition: .5s ease;
                width: 100%;
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);;
                a{
                    font-size: 15px;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            .border-none{
                border-bottom: none;
            }
        }
        .click {
            width: 30px;
            height: 30px;
            position: absolute;
            top: -20px;
            z-index: 99;
            cursor: pointer;
            display: block;
        }

        #burger {  
            z-index: 1;
            cursor: pointer;
            position: relative;
            margin-top: 10px;
            display: block;

            span {
                position: relative;
                display: block;
                width: 30px;
                height: 4px;
                background: #000;
                background-size: cover;
                transition: all 0.4s ;

            &:before, &:after {
                position: absolute;
                background: #000;
                background-size: cover;
                content: '';
                width: 30px;
                height: 4px;
                transition: all .3s ease;
            }
                &:before {
                    top: -10px;
                }

                &:after {
                    top: 10px;
                }
            }

            .menu_open {
                .menu {
                    width: 400px;
                }
                .button {
                    transform: translateX(130px);
                }
            }
        }
        #burger.active {
            span {
              background: transparent;  
              transform: rotate(90deg);
              
              &:before {
                transform: rotate(45deg);
                background-color: #fff;
                top: 0px;
              }
              
              &:after {
                transform: rotate(-45deg);
                top: 0px;
                background-color: #fff;
              }
            }
        }
    }
}
@media screen and (max-width:580px)
{
    #introduce{
        .custom-nav{
            width: 50%;
        }
    }
}
@media screen and (max-width:500px){
    #trangchu {
        .registration{
            line-height: 50px;
            font-size: 14px;
            width: 200px;
        }
        .price{
            font-size: 20px;
            line-height: 20px;
        }
        .info-apartment__inner{
            width: 100%;
        }
    }
}
@media screen and (max-width:480px){
    #introduce{
        .background-slide{
            display: none;
        }
        .slide{
            position: inherit;
            width: 100%;
            .item{
                width: 100%;
                padding: 0;
            }
        }
        .custom-nav{
            width: 100%;
            padding: 15px 140px;
        }
        .introduce-top{
            padding: 20px 0;
        }
        .col-picture,.col-info-introduce{
            padding: 10px 0px;
        }
    }
}
@media screen and (max-width:420px){
    #introduce {
        .col-20{
            width: 50%;
        }
        .border-none3{
            display: block;
        }
        .border-none2,.border-none4{
            display: none;
        }
        .more-info-apartment{
            height: 165px;
        }
    }
}
@media screen and (max-width:400px){
    #introduce{
        .custom-nav{
            padding: 15px 100px;
        }
    }
}
@media screen and (max-width:320px){
    #content{
        margin-top: 93px;
    }
    #header{
        padding: 5px 0;
        .menu{
            li{
                padding: 7px;
                a{
                    font-size: 12px;
                }
            }
        }
        .header-right{
            width: 100%;
            padding: 0 15px;
        }
        .logo{
            img{
                max-width: 70%;
            }
        }
        .number-phone{
            font-size: 13px;
            font-weight: 700;
        }
        .hotline{
            img{
                max-width: 90%;
            }
            li{
                span{
                    font-size: 12px;
                }
            }
            margin-right: 20px;
            ul{
                line-height: 12px;
            }
        }
        .registration-header{
            width: 140px;
            line-height: 35px;
            font-size: 12px;
        }
        #burger {
            span:before,span, span:after{
                height: 3px;
                width: 22px;
            }
            span:after{
                top: 7px;
            }
            span:before{
                top: -7px;
            }
        }
        .click{
            height: 22px;
            width: 22px;
        }
        .menu-wrap {
            width: 22px;
        }
    }
}