.part-title h4 {
	font-size: 36px;
	letter-spacing: 1.5px;
	color: #222;
	margin-top: 0;
	margin-bottom: 50px;
}
.apartment-space {
	padding: 90px 0;
	.name-of-room {
		font-size: 20px;
		color: #222;
		text-align: center;
	}
	.tab {
		position: relative;
		line-height: 78px;
		text-align: center;
		display: block;
		background-color: #eeeeee;
		border-bottom: 1px solid #ccc;
		transition: 0.2s;
	}
	.tab:hover {
		background-color: #3f85ce;
		color: white;
		.name-of-room {
			color: white;
		}
		i {
			display: inline-block;
		}
	}
	.menu-slider {
		padding: 0 15px;
		// margin-bottom: -1px;
	}
	.slide-show {
		padding: 0 15px;
	}
	.url-hash-nav {
		// padding: 0 15px;
		height: 401px;
		border: 1px solid #cccccc;
	}
	.url-hash-nav a:last-child {
		border-bottom: 0;
	}
	.url-hash-nav i {
		color: white;
		display: none;
		position: absolute;
		right: 23px;
		top: 50%;
		transform: translateY(-49%);
		font-size: 14px;
		vertical-align: middle;
	}
	.space-img {
		padding: 0 15px;
		img {
			height: 401px;
			width: 100%;
		}
	}
	.space-info {
		padding: 0 15px;

	}
	.space-info span {
		// display: inherit;
		font-size: 14px;
	}
	.table-info {
		border: 1px solid #dedede;
		padding: 15px 39px;
		background-color: #eee;
		color: #666;
		height: 401px;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	.element {
		position: absolute;
		left: 0;
		margin-right: 7px;
		text-align: left;
		background-color: #eeeeee;
		padding: 2px 5px;
	}
	.unit {
		position: absolute;
		right: 0;
		margin-left: 7px;
		background-color: #eeeeee;
		padding: 2px 5px;
	}
	.blank {
		width: 100%;
		height: 1px;
		background-color: #cccccc;
		display: inline-block;

	}
	.space-info li {
		position: relative;
		line-height: 34px;
		list-style: none;
	}
	.slide-show {
		float: left;
	}
	.owl-dots {
		display: none;
	}
}
.contact {
	padding: 165px 0 110px 0;
	background-image: url("images/s_bg-building.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.contact-form {
		max-width: 970px;
		margin: 0 auto;
	}
	.error {
		color: red;
	}
	#form-contact {
		position: relative;
	}
	#full_name-error {
		position: absolute;
		top: 52px;
		left: 0;
		font-size: 12px;
	}
	#phone_number-error {
		position: absolute;
		top: 124px;
		left: 0;
		font-size: 12px;
	}
	.contact-info {
		padding-top: 50px;
		padding-left: 70px;
		padding-right: 70px;
		background-color: #3f85ce;
		width: 53.6%;
		float: left;
		color: white;
		font-size: 14px;
		height: 520px;
	}
	.filling-form {
		padding-top: 50px;
		padding-left: 70px;
		padding-right: 70px;
		width: 46.4%;
		float: left;
		background-color: #222222;
		height: 520px;
	}
	.fs20 {
		font-size: 20px;
	}
	.avatar {
		margin-top: 16px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
	}
	.position {
		margin-top: 10px;
	}
	.phone {
		margin-top: 23px;
	}
	.mail {
		margin-top: 15px;
	}
	.intro i {
		vertical-align: middle;
		margin-right: 10px;
	}
	.intro {
		padding-left: 23px;
	}
	.personal-intro {
		padding-bottom: 45px;
		border-bottom: 1px solid #3977b9;
	}
	.open-time {
		padding-top: 45px;
	}
	.open-time i, .address i {
		padding-right: 20px;
		vertical-align: middle;
	}
	.open-time div {
		margin-bottom: 20px;
	}
	.address h4 {
		margin-top: 20px;
	}
	h4 {
		margin-top: 0;
		font-weight: 400;
		margin-bottom: 27px;
	}
	address {
		font-style: normal;
	}
	.part-title h4 {
		color: white;
		font-weight: 600;
	}
	input {
		width: 100%;
		height: 50px;
		padding:0 24px;
		background-color: #eeeeee;
		border: 0;
		outline: 0;
		margin-bottom: 25px;
		font-size: 14px;
	}
	textarea {
		padding: 20px 15px 20px 24px;
		width: 100%;
		background-color: #eeeeee;
		border: 0;
		outline: 0;
		margin-bottom: 30px;
		font-size: 14px;
	}
	input[type="submit"] {
		width: 100%;
		height: 70px;
		border: 0;
		outline: 0;
		background-color: #da1b1b;
		color: white;
		padding: 0;
		font-size: 18px;
	}
	input[type="submit"]:hover {
		cursor: pointer;
	}
}
.social-network {
	padding-bottom: 100px;
	.sub-logo h3 {
		color: #222222;
		font-size: 60px;
		font-weight: 600;
		margin: 50px 0;
	}
	.sub-logo .red-text {
		color: #da1b1b;
	}
	i {
		vertical-align: middle;
		font-size: 25px;
		margin-bottom: 5px;
	}
	.frame {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid #666666;
		display: inline-block;
		line-height: 50px;
		margin: 0 15px;
	}
	.social-network-icon {
		color: #666666;
	}
}
@media screen and (max-width: 1280px) {
	.container {
		padding: 0 15px;
	}
}
@media screen and (max-width: 1024px) {
	.apartment-space{
		.table-info {
			padding: 5%;
		}
	} 
	.contact {
		.contact-info {
			padding-left: 30px;
			padding-right: 30px;
		}
		.filling-form {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
@media screen and (max-width: 854px) {
	.apartment-space {
		.url-hash-nav i {
			right: 10px;
		}
	}
	.contact {
		.contact-info {
			padding-left: 20px;
			padding-right: 20px;
		}
		.filling-form {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
@media screen and (max-width: 720px) {
	.apartment-space {
		.col-3 {
			width: 100%;
			float: none;
		}
		.col-9 {
			width: 100%;
			float: none;
		}
		a.tab {
			border: 1px solid #ccc !important;
			display: inline-block;
			margin: 5px;
			i {
				display: none !important;
			}
			width: 115px;
			line-height: 50px;
			span {
				font-size: 16px;
			}
		}
		.url-hash-nav {
			margin-bottom: 15px;
			text-align: center;
			height: auto;
			border: 0;
		}
		.space-img img {
			height: 370px;
		}
		.table-info {
			height: 370px;
		}
	}
	.contact {
		padding: 50px 0;
		.contact-info {
			width: 100%;
			float: none;
			padding-bottom: 50px;
			max-width: 400px;
			margin: 0 auto;
			height: auto;
			margin-bottom: 20px;
		}
		.filling-form {
			width: 100%;
			float: none;
			max-width: 400px;
			margin: 0 auto;
			height: auto;
		}
		.part-title h4 {
			text-align: center;
		}
	}
	.social-network {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 640px) {
	.apartment-space {
		.space-img img {
			height: 300px;
		}
		.table-info {
			height: 300px;
			overflow: scroll;
		}
	}
}
@media screen and (max-width: 530px) {
	.apartment-space {
		.col-8 {
			width: 100%;
			float: none;
		}
		.col-4 {
			width: 100%;
			float: none;
		}
		.space-img img {
			height: auto;
		}
		.table-info {
			height: auto;
		}
		a.tab {
			line-height: 40px;
		}
	}
	.social-network {
		.sub-logo h3 {
			margin: 15px 0;
		}
	}
}
@media screen and (max-width: 400px) {
	.contact {
		.avatar {
			margin: 0 auto;
			float: none;
		}
		.intro {
			text-align: center;
			float: none;
			padding: 15px 0 0 0;
		}
		.contact-info {
			padding: 30px 20px;
		}
		.phone {
			margin-top: 15px;
		}
	}
}