header#header
    .container
        .header-left.fleft
            .logo.fleft
                a(href="#")
                    img(src="images/h_logo.png", alt="logo")
            .menu-wrap.fleft
                .menu
                    ul.list-inline
                        li
                            a(href="#") Trang Chủ
                        li
                            a(href="#") Giới Thiệu
                        li
                            a(href="#") Album Ảnh
                        li
                            a(href="#") Video
                        li.border-none
                            a(href="#") Liên Hệ
                .main
                    .button
                        #burger
                            .click
                            span
            .clearfix
        .header-right.fright
            .hotline.fleft
                ul.list-inline
                    li
                        img(src="images/h_phone.jpg", alt="Phone")
                    li
                        span Hotline
                span.number-phone 0987.654.321
            .registration-header.fleft
                a(href="#") Đăng kí tham quan
            .clearfix
        .clearfix
    
