section#trangchu
    .background
        img(src="images/slider.jpg", alt="background")
    .container
        .info-apartment
            .info-apartment__inner
                .text
                    .name
                        p Chung cư cao cấp
                        h1.name-apartment Ecolife
                    .address
                        p 123, Phố Nhổn, Bắc Từ Liêm, Hà nội
                    .space
                        .col-4
                            p.number 234
                            p.unit m
                                sup 2
                            .line
                        .col-4
                            p.number 4
                            p.unit Phòng Ngủ
                            .line
                        .col-4
                            p.number 2
                            p.unit Nhà Bếp
                        .clearfix
                    .price 700.000.000 VND
                    .registration
                        a(href="#") Đăng ký tham quan
section#introduce
    .introduce-top
        .container
            .row-introduce
                .col-picture.col
                    .picture
                        .background-slide
                            img(src="images/h_bg-slide.jpg", alt="anh")
                        .clearfix
                        .slide
                            .owl-carousel.owl-theme.slide-introduce
                                .item
                                    img(src="images/items1.jpg", alt="anh")
                                .item
                                    img(src="images/items1.jpg", alt="anh")
                                .item
                                    img(src="images/items1.jpg", alt="anh")
                                .item
                                    img(src="images/items1.jpg", alt="anh")
                                .item
                                    img(src="images/items1.jpg", alt="anh")
                            .custom-nav
                                .btn.customprev.fleft
                                    img(src="images/h_prev.png", alt="anh")
                                .btn.customnext.fright
                                    img(src="images/h_next.png", alt="anh")
                                .clearfix
                .col-info-introduce.col
                    .info-introduce
                        .title
                            strong Giới Thiệu
                            h1.title-section Chung cư cao cấp Ecolife
                            em.lead Được đưa vào hoạt động năm 2008
                        .text
                            p Các căn hộ đều được thiết kế theo phong cách Châu Âu, Hiện đại. Từ phong cách thiết kê tới trang bị nội thất đi kèm, hệ thống tử bếp trên dưới hiện đại, tủ âm tường trong phòng ngủ, bếp điện từ, máy hút mùi, nóng lạnh, thiết bị vệ sinh Linax hiện đại, hệ thống phòng cháy chữa cháy đúng tiêu chuẩn, An ninh đảm bảo 24/24h.
                            p Hệ thống quản lý tòa nhà chuyên nghiệp. Ký hợp đồng trực tiếp với Chủ đầu tư.
                        .registration.registration-intro
                            a(href="#") Đăng kí tham quan
                .clearfix
    .introduce-bottom
        .row-intro-bottom
            .col-20
                .more-info-apartment
                    .img
                        img(src="images/h_home.png", alt="anh")
                    .more-info__inner
                        p.number 45
                        p.name Căn Hộ
                    .border.border-none1
            .col-20
                .more-info-apartment
                    .img
                        img(src="images/h_lift.png", alt="anh")
                    .more-info__inner
                        p.number 45
                        p.name Thang Máy
                    .border.border-none2
            .col-20
                .more-info-apartment
                    .img
                        img(src="images/h_park.png", alt="anh")
                    .more-info__inner
                        p.number 45
                        p.name Công viên
                    .border.border-none3
            .col-20
                .more-info-apartment
                    .img
                        img(src="images/h_home.png", alt="anh")
                    .more-info__inner
                        p.number 45
                        p.name Căn Hộ
                    .border.border-none4
            .col-20
                .more-info-apartment
                    .img
                        img(src="images/h_home.png", alt="anh")
                    .more-info__inner
                        p.number 45
                        p.name Căn Hộ
            .clearfix
