.apartment-space.part
  .container
    .part-title.text-center
      h4 Không Gian Căn Hộ
    .part-content
      .row
        .menu-slider.col-3
          .url-hash-nav
            a(href="#0" class="tab")
              span.name-of-room Phòng Khách
              i.fas.fa-angle-right
            a(href="#1" class="tab")
              span.name-of-room Phòng Ngủ
              i.fas.fa-angle-right
            a(href="#2" class="tab")
              span.name-of-room Phòng Ăn
              i.fas.fa-angle-right
            a(href="#3" class="tab")
              span.name-of-room Nhà Tắm
              i.fas.fa-angle-right
            a(href="#4" class="tab")
              span.name-of-room Ban Công
              i.fas.fa-angle-right
        .owl-carousel.owl-theme.slide-show.col-9
          .item(data-hash="0")
            .row
              .space-img.col-8
                img(src="images/s_kitchen.png", alt="kitchen")
              .space-info.col-4
                .table-info
                  ul
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
              .clearfix
          .item(data-hash="1")
            .row
              .space-img.col-8
                img(src="images/s_kitchen.png", alt="kitchen")
              .space-info.col-4
                .table-info
                  ul
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
              .clearfix
          .item(data-hash="2")
            .row
              .space-img.col-8
                img(src="images/s_kitchen.png", alt="kitchen")
              .space-info.col-4
                .table-info
                  ul
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
              .clearfix
          .item(data-hash="3")
            .row
              .space-img.col-8
                img(src="images/s_kitchen.png", alt="kitchen")
              .space-info.col-4
                .table-info
                  ul
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
              .clearfix
          .item(data-hash="4")
            .row
              .space-img.col-8
                img(src="images/s_kitchen.png", alt="kitchen")
              .space-info.col-4
                .table-info
                  ul
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
                    li
                      span.element Cửa chính
                      span.blank
                      span.unit Có
                    li
                      span.element Cửa sổ
                      span.blank
                      span.unit Có
                    li
                      span.element Diện tích
                      span.blank
                      span.unit 25 m2
                    li
                      span.element Hướng
                      span.blank
                      span.unit Tây Bắc
              .clearfix
        .clearfix
.contact
  .container
    .contact-form
      .contact-info
        header.personal-intro
          .avatar.fleft
            img(src="images/s_avatar.png", alt="avatar")
          .intro.fleft
            .name.fs20 Nguyễn Hòa An
            .position Trưởng phòng kinh doanh
            .phone
              i.fas.fa-phone
              span 084 3434 325
            .mail
              i.far.fa-envelope
              span NguyenHoaAn@gmail.com
          .clearfix
        .open-time
          h4.fs20 Giờ mở cửa
          div
            i.far.fa-clock
            time Thứ 2 - Thứ 7: 8 giờ sáng đến 5 giờ chiều
          div
            i.far.fa-clock
            time Chủ nhật: đóng cửa
        .address
          h4.fs20 Vị trí
          address
            i.fas.fa-map-marker-alt
            span 123 Phố Nhổn, đường 32, Hà Nội, Việt Nam
      .filling-form
        .part-title
          h4 Liên hệ
        form(action="" method="get" name="contact" id="form-contact")
          input(type="text" placeholder="Họ Tên" name="full_name")
          input(type="text" placeholder="Số Điện Thoại" name="phone_number")
          textarea(name="message", cols="30", rows="4" placeholder="Tin Nhắn")
          input(type="submit" value="ĐĂNG KÝ THAM QUAN")
      .clearfix
.social-network.text-center
  .sub-logo
    h3
      span.red-text E.
      span colife

  .social-network-icon
    a(href="#")
      span.frame
        i.fab.fa-facebook-f
    a(href="#")
      span.frame
        i.fas.fa-envelope
    a(href="#")
      span.frame
        i.fab.fa-google-plus-g
